@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>Professor: @ViewData["Professor"]</h4>


<address>
    <strong>
        More information at:
    </strong> <a href="https://www.google.com/">Google</a>
