@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Penha, São Paulo <br />
    Brazil<br />
    <abbr title="Phone">P:</abbr>
    +5511983345239
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">brunosabia1@gmail.com</a><br />
</address>
